@page "/"

<MudContainer>
    <MudText Typo="Typo.h3" GutterBottom="true">Welcome to your new app!</MudText>
    
    <MudText Typo="Typo.h5" GutterBottom="true">Getting Started</MudText>
    <MudText>This application is built with:</MudText>
    
    <div>
        <MudText Class="d-flex align-center mb-2">
            <MudIcon Icon="@Icons.Material.Filled.Check" Class="mr-2" />
            ASP.NET Core and C#
        </MudText>
        <MudText Class="d-flex align-center mb-2">
            <MudIcon Icon="@Icons.Material.Filled.Check" Class="mr-2" />
            Blazor for client-side UI
        </MudText>
        <MudText Class="d-flex align-center mb-2">
            <MudIcon Icon="@Icons.Material.Filled.Check" Class="mr-2" />
            MudBlazor Component Library
        </MudText>
    </div>

    <MudDivider Class="my-6"/>

    <MudAlert Severity="Severity.Normal">
        <MudText>Visit the <MudLink Href="https://mudblazor.com" Typo="Typo.body1" Color="Color.Inherit"><strong>MudBlazor Documentation</strong></MudLink> to learn more about the components available.</MudText>
    </MudAlert>
</MudContainer>
